<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AKSC 2018</title>
			<link rel="icon" type="/images/png" href="assets/images/fav.png"/>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main1.css">

	    <link rel="stylesheet" href="assets/css/count.css">
<style>
#leaderboard
{
font-size:30px;
color:red;
}
#leaderboard
{
font-size:30px;
color:red;
text-align:center;
}
#freeentry
{
font-size:20px;
}
#link
{
font-size:18px;
color:blue;
}
#link:hover
{
color:orange;
}
#incorrect
{
color:red;
}

</style>
</head>
<body data-spy="scroll" data-target="#site-nav">
    
   


 <div class="container-contact100">
		<div class="wrap-contact100">
	<center>
	<span class="contact100-form-title">
					AKSC 2018 - DECRYPT
				</span>
<h3 style="text-align:center;"><u>Instructions</u></h3><br>
				<ol style="text-align:left;">
				<li>1) Type all the answers in <b><span id="freeentry">SMALL CASE ONLY</span></b></li>
				<li>2) This is open only to IEEE Members</li>
				<li>3) The major objective of the game is to decrypt the photo(s) given which leads to the answer</li>
				<li>4) Daily winners of DECRYPT will get a <span id="freeentry"><b>FREE ENTRY</b></span> to AKSC 2018. So Don't miss the chance</li>
				<li>5) The First Round will begin at 7:00 PM on all Wednesdays and the clues will be given at regular intervals in the IEEE LINK Facebook page - <a id="link" href="https://www.facebook.com/ieeelink/">https://www.facebook.com/ieeelink/</a></li>
				<li>6) You can try any number of times with different answers and click submit but it will be recorded only if it is the right answer</li>



				</ol>				<h1><a href="/leaderboard" id="leaderboard">View Leaderboard</a></h1><br><br>
				
				<h2><u>Question 1</u></h2>
	
	<img src="assets/images/aksc.png" width="50%"><br>
		
		<center>
		<h1 id="incorrect">Your answer is incorrect</h1><br><Br>
		</center>
	<form class="contact100-form validate-form" id="form1" method="post">
				
				
					<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="" >
					<span class="label-input100">IEEE Number</span>
					<input class="input100" type="text" name="ieee"  required placeholder="Enter Your IEEE Number" width="80%" value="<%= ieee%>">
				</div>
				
			<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="" >
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name1" id="name1" required placeholder="Enter your name" width="80%" value="<%= name1%>">
				</div>
				
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="" >
					<span class="label-input100">College</span>
					<input class="input100" type="text" name="college" id="college" required placeholder="Enter your college" width="80%" value="<%= college %>">
				</div>
				
			

				<div class="wrap-input100 validate-input bg1" data-validate="Please Type Your answer" >
					<span class="label-input100">Answer</span>
					<input class="input100" id="answer" type="text" name="answer" required placeholder="Enter your answer" value="<%= answer%>" >
				</div>
				
					<div class="container-contact100-form-btn-1">
					<button class="contact100-form-btn-1" >
						<span>
							Submit
						</span>
					</button>
				</div>
				
				</form>
	
	</center>
	</div>
	</div>

   

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="site-info">Developed with &hearts; by <a href="https://www.linkedin.com/in/reuben--joseph/">Reuben Joseph</a></p>
                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>
	    <script src="assets/js/count.js"></script>

</body>
</html>